/* VARIABLES */
/* body {
    background: #d38282;
}
:root {
    --hello: blue;
    --fonts: 4rem;
}
h1 {
    color: var(--hello);
    padding: 20px;
    background-color: aqua;
}
h2 {
    font-size: var(--fonts);
} */
/* DRY CSS - BASICS */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: bisque;
}
.btn {
    background: transparent;
    border: none;
    margin: 10px;
    background: #a24e4e;
    padding: 1em 2em;
    color: #fff;
    cursor: pointer;
}
/* section.two .btn {
    background: transparent;
    border: none;
    margin: 30px;
    background: #c6c651;
    padding: 1em 2em;
    color: #fff;
    cursor: grab;
} */
 .btn-secondary {
    background: #33b31a;
 }

