*{
    margin: 0;
} 
/*div{
    /* border-width: 2px;
    border-style: dotted;
    /* border-color: bisque; */
    /* color: brown; */
    /* font-family: 'Times New Roman', Times, serif;  */
    /* border: 3px dotted goldenrod; */
    /* border-left: 2px orangered; */
    /* border: 2px solid gold; */
    /* text-align: center; */
    /* padding: 20px; */
    /* margin: 20px; */
/* }  */
/* BACKGROUND */
div{
     /* height: 100vh; */
/*background-color: goldenrod;
background-image:url(https://plus.unsplash.com/premium_photo-1714051661316-4432704b02f8?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
background-size: cover;
background-position: top;
background-attachment: fixed; */
/* background: url("https://images.unsplash.com/photo-1728943492981-be3e94e4d551?q=80&w=1769&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center / cover  fixed; */
/* background-image: linear-gradient(to bottom ,teal,blue),url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
height: 100vh;
background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
filter: blur(10px);
filter: brightness(45%);
filter: contrast(200%);
filter: grayscale(50%);
filter: drop-shadow(90%);
filter: saturate(50%);
}